body {

	font-family:Book Antiqua;
	font-size: 1em;
	color: #D3DDE0;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px; 

}